{% extends "base.html" %}
<body>
{% block mainblock %}
<!-- top-nav -->
<div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-info fixed-top py-2 top-navbar" style="margin-left: 15px;">
  <div class="row align-items-center">
    <div class="col-md-4">
      <h4 class="text-black-50 text-uppercase mb-0">ABOUT HEALTHER SG</h4>
    </div>
    <div class="col text-right">
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>
<!-- end of top-nav -->
  <div class="col-xl-10 col-lg-9 col-md-9 ml-auto text-center mt-5">
    <img class="img-fluid mx-auto" src="{{ url_for('static', filename='img/healthierSG.jpg')}}" style="width: 100%; max-width: 750px;" alt="Healthier SG" >
    <div class="ml-auto">
      <h1><span class="italics-color">Eat right...</span> Into good health.</h1>
      <br>
      <h2>Register today to participate!</h2>
      <br>
      <p>Eat-Right-Programme (ERP) is a pilot programme of Healthier SG. The key objective of ERP is to encourage Singaporeans to take charge of their diets, leading to healthier lifestyles and see better health outcomes. Singaporeans above 12 years old can enrol in ERP.</p>
      <p>To debunk the myth that Healthy food is expensive, bland, and boring. ERP will offer Delis that are deliciously prepared by food providers/agencies, using recipes with strict requirements on calories and fat content.</p>
      <p>In ERP, participants can “Order” their meals by selecting Delis to form a DeliSet first. DeliSets are saved and can be repeatedly ordered.</p>
    </div>
  </div>
{% endblock %}
</body>
</html>