<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Healthier SG - Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="title icon" href="{{ url_for('static', filename='img/title-img.png')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
    
    

  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="container-fluid">
        <div class="row">
          <!-- sidebar -->
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
            <a href="about" class="navbar-brand text-black-50 d-block mx-auto text-center py-3 mb-4 bottom-border">ICT239 SUSS</a>
            
            <ul class="navbar-nav flex-column mt-4">
              {% if current_user %}
              <li class="nav-item">
                <p><i class='nav-link text-black-50 p-3 mb-2 sidebar-link'><i class="material-icons">person</i>{{current_user.name}}</i></p>
              </li>
              {% endif %}
              <li class="nav-item"><a href="about" class="nav-link text-black-50 p-3 mb-2 sidebar-link"><i class="material-icons">home</i>About</a></li>
              <li class="nav-item"><a href="delis" class="nav-link text-black-50 p-3 mb-2 sidebar-link"><i class="material-icons">restaurant</i></i>Delis</a></li>
              {% if current_user %}
              {% if current_user.name == 'Admin' %}
              <li class="nav-item"><a href="upload" class="nav-link text-black-50 p-3 mb-2 sidebar-link"><i class="material-icons">unarchive</i></i>Upload</a></li>
              {% else %}
              <li class="nav-item"><a href="createdeliset" class="nav-link text-black-50 p-3 mb-2 sidebar-link"><i class="material-icons">folder_open</i>Create Deliset</a></li>
              <li class="nav-item"><a href="orderdeliset" class="nav-link text-black-50 p-3 mb-2 sidebar-link"><i class="material-icons">folder</i>Order Deliset</a></li>
              <li class="nav-item"><a href="vieworders" class="nav-link text-black-50 p-3 mb-2 sidebar-link"><i class="material-icons">folder_shared</i>View Orders</a></li>
              {% endif %}
              {% else %}
              <li class="nav-item"><a href="login" class="nav-link text-black-50 p-3 mb-2 sidebar-link"><i class="material-icons">subdirectory_arrow_right</i>Login</a></li>
              <li class="nav-item"><a href="register" class="nav-link text-black-50 p-3 mb-2 sidebar-link"><i class="material-icons">person</i></i>Register</a></li>
              {% endif %}
              </ul>
          </div>
          <!-- end of sidebar -->
        </div>
      </div>
    </div>
  </nav>
  <!-- end of navbar -->
  {% block mainblock %}
  {% endblock %}

</body>
</html>